body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Адаптивные стили */
@media (max-width: 600px) {
    body {
        font-size: 21px;
    }
    .container {
        width: 90%;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 27px;
    }
    .container {
        width: 80%;
    }
}