/* Сброс стилей для более предсказуемого поведения */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Основные стили для body */
body {
  font-family: Arial, sans-serif;
  background: url('images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #FFD700;
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
  min-height: 100vh;
}

/* Стили для header с короной и линиями */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Линии по бокам от короны */
.line {
  height: 1px;
  background-color: #FFD700;
  flex-grow: 1;
  max-width: 200px;
  margin-top: 20px; /* Отступ сверху для линии */
}

/* Настройка короны */
.crown-image {
  max-height: 77px;
  margin: 0 10px;
}

/* Основные стили текста и секций */
.section-titles {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

.title-section {
  flex: 1;
  margin: 0 10px;
}

.title-section h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.title-section p {
  font-size: 1em;
  line-height: 1.4;
}

/* Стили для секции видео */
.videos {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}

.video-item {
  flex: 1;
  max-width: 30%;
}

.video-item iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

/* Кнопка-ссылка для ПК */
.see-more {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.see-more a {
  color: #FFD700;
  text-decoration: none;
  font-size: 1em;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.see-more a:hover {
  color: #FFEC8B;
}

/* Стили для секции ссылок */
.links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #FFD700;
  transition: color 0.3s ease;
}

.link:hover {
  color: #FFEC8B;
}

.link img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.link span {
  text-decoration: underline;
  font-size: 1em;
}

/* Медиа-запросы для экранов меньше 768px */
@media (max-width: 768px) {
  .section-titles {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }

  /* Видео для мобильных устройств */
  .videos {
    flex-direction: column;
    gap: 0;
  }

  .video-item {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .see-more {
    justify-content: center;
  }

  .see-more a {
    font-size: 1.2em;
  }
}